body.rtl .header
{
	background:linear-gradient(to left,rgba(255,255,255,1), rgba(255,255,255,.3), rgba(0,0,0,.3));
}

body.ltr .header
{
	background:linear-gradient(to right,rgba(255,255,255,1), rgba(255,255,255,.3), rgba(0,0,0,.3));
}

.header
{
	border-bottom: 1px solid #2F6964;
}