.class-students
{
	.row
	{
		height:100px;

		img
		{
			vertical-align: middle;
			max-width: 100px;
			max-height: 75px;
			border-radius: 10px;
		}

		div:last-child
		{
			padding-top:10px;
			font-size: 1.2em;
		}
	}
}

.main-select
{
	font-size:1.2em;
	height:50px
}

.class-teachers
{
	.row
	{
		div
		{
			padding-top:10px;
			font-size: 1.2em;
		}
	}
}

#curriculum,.class-curriculum
{
	table 
	{
		width:100%;

		tr
		{
			height:40px;
		}

		input
		{
			width: 100%;
		}

		tr:first-child td,td:first-child
		{
			background: #555;
			padding:10px;
			text-align: center;
			color:white;
			font-size: 1.2em;
		}

		tr:first-child td:first-child
		{
			background: none;
		}
	}
}

.class-curriculum
{
	tr
	{

	}
	td
	{
		padding:10px;
		text-align: center;
		border:1px solid #bbb;
	}

	tr:first-child td:first-child
	{
		border:none;
	}

	.day-hour
	{
		display: none;
	}
}

@media (max-width: 600px)
{
	.class-curriculum table
	{
		tr:first-child
		{
			display: none;
		} 

		td
		{
			display: block;
			width:100%;
		}

		.day-hour
		{
			display: inline-block;
			color:#555;
			margin:0 -40px 0 40px;
		}
	}
}

