.classstudents
{
	.row
	{
		img
		{
			float:right;
			vertical-align: middle;
			width:50px;
			max-height: 75px;
			border-radius: 10px;
			margin:0 5px;
		}

		span
		{
			//display: inline-block;
			padding:5px 20px;
		}

	}

	@media (max-width: 600px)
	{
		.row div
		{
			text-align: center;
			font-size:.9em;
		}
	}

}

.main-select
{
	font-size:1.2em;
	height:50px
}

.classteachers
{
	.row
	{
		div
		{
			padding-top:10px;
			
			label
			{
				font-size:.8em;
			}
		}
	}
}

#curriculum,.classcurriculum
{
	table 
	{
		width:100%;

		tr
		{
			height:40px;
		}

		input
		{
			width: 100%;
		}

		tr:first-child td,td:first-child
		{
			background: #555;
			padding:10px;
			text-align: center;
			color:white;
			font-weight: bold;
			font-size: 1.2em;
		}

		tr:first-child td:first-child
		{
			background: none;
		}
	}
}

.classcurriculum
{
	tr
	{

	}
	td
	{
		padding:10px;
		text-align: center;
		border:1px solid #bbb;
	}

	tr:first-child td:first-child
	{
		border:none;
	}

	.day-hour
	{
		display: none;
	}
}

@media (max-width: 600px)
{
	.classcurriculum table
	{
		tr:first-child
		{
			display: none;
		} 

		td
		{
			display: block;
			width:100%;
		}

		.day-hour
		{
			display: inline-block;
			color:#555;
			margin:0 -40px 0 40px;
		}
	}
}

