.class-post
{
	.class-post-content
	{
		padding:20px;

		img,video
		{
			max-width: 100%;
		}
	}
	.post-gallery
	{
		border-bottom: none;
	}

	.button
	{
		font-size: 1.3em;
	}

	.comments
	{
		label
		{
			margin-bottom: 10px;
			font-size: 1.1em;
		}

		.date-row
		{
			width:100%;
			display: inline-block;
			.date
			{
				margin-top:-5px;
				font-weight: normal;
				font-size: .9em;
				color:$primary-color;
			}
		}

		.comment
		{
			border:1px solid #ccc;
			padding: 20px 20px;
			border-radius: 5px;
			margin-bottom: 20px;

			@media (max-width: 600px)
			{
				padding:10px;
			}
		}

		.attachment
		{
			font-weight: bold;
			margin-top:30px;
			a
			{
				color:$secondary-color;
			}
		}
	}
}
