.container.reward
{
	input
	{
		font-size: 1.2em;
	}

	.reward-value,.initial-reward-value
	{
		width:100px
	}

	.student-name
	{
		font-size: 1.3em;
		padding:20px 0;
		font-weight: bold;
	}

	.subject
	{
		font-size: 1.2em;
	}

	@media (max-width: 600px) 
	{
		.student-name
		{
			text-align: center;
		}
	}

	.button-type2
	{
		padding:5px;
		font-size: 1.2em;
	}
}

.date
{
	display: inline-block;
	direction: ltr;
}

.reward-students-list
{
	.norm-hid
	{
		display: none;
	}

	@media (max-width: 600px) 
	{
		.norm-hid
		{
			display: inline-block;
		}
		.name
		{
			text-align: center;
		}
	}

	.value
	{
		float:left;
		direction: ltr;
		font-size:1.2em;
		box-shadow: 2px 2px 5px 4px white;
		border-radius: 4px;
		padding:5px 10px;
	}
}

.student-rewards-list
{
	padding:5px;

	.reward
	{
		background-size:cover;
		background-position: center center;
		border:1px solid #eee;
		padding:20px;
		//border-radius: 10px;
		margin:5px;
		width:calc(33% - 10px);
		height:190px;
		
		.date
		{
			font-size:.8em;
			background-color: rgba(255,255,255,.7);
			border-radius: 5px;
			padding:5px 10px;
		}

		.value-text
		{
			margin:40px 10px 20px 10px;
			text-align: center;
			//border:1px solid red;
			
			.value
			{
				display:inline-block;
				direction: ltr;
				font-size: 2em;
				background-color: rgba(255,255,255,.9);
				border-radius: 5px;
				padding:5px 10px;
				min-width:100px;
			}

			.text
			{
				margin:30px 20px 0 10px;
				font-size: .5em;

			}
		}

		.desc
		{
			font-size: .9em;
			background-color: rgba(255,255,255,.7);
			border-radius: 5px;
			padding:5px 10px;
			width:100%;
			overflow: hidden;
			white-space: nowrap; 
			text-overflow: ellipsis;
		}
	}

	@media (max-width: 1000px) 
	{
		.reward
		{
			width:calc(50% - 10px);

			.value-text
			{
				font-size:.8em;

				.text
				{
					margin:20px 10px 0 0 ;
				}
			}
		}

		.reward.inactive
		{
			width:25%;
		}
	}

	@media (max-width: 600px) 
	{
		.reward
		{
			width:100%;
		}
	}


	.reward.inactive
	{
		border:0;
		padding:0;
		height:0;
	}

	.reward:nth-child(8n + 1)
	{
		background-image:url(../images/reward/1.jpg);
	}
	.reward:nth-child(8n + 2)
	{
		background-image:url(../images/reward/2.jpg);
	}
	.reward:nth-child(8n + 3)
	{
		background-image:url(../images/reward/3.jpg);
	}
	.reward:nth-child(8n + 4)
	{
		background-image:url(../images/reward/4.jpg);
	}
	.reward:nth-child(8n + 5)
	{
		background-image:url(../images/reward/5.jpg);
	}
	.reward:nth-child(8n + 6)
	{
		background-image:url(../images/reward/6.jpg);
	}
	.reward:nth-child(8n + 7)
	{
		background-image:url(../images/reward/7.jpg);
	}
	.reward:nth-child(8n + 8)
	{
		background-image:url(../images/reward/8.jpg);
	}

	.reward.total
	{
		background-image:url(../images/reward/9.jpg);
	}



}
