
body.customer-env .row.even-odd-bg 
{
	font-size: 1.2em;
}

body.customer-env .aclist > div
{
	font-weight: normal;
	font-size: 1em;
}

.row.even-odd-bg .counter.normal-font-size
{
	font-size: 1em;
	font-weight: bold;
}